body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5dc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  background: #fff;
  border: 2px solid #00897b;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.square:hover {
  background: #e0f2f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.highlighted-square {
  background: lightcoral;
  border: 2px solid #00897b;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
  color: #424242;
  text-align: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-board {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  border: 2px solid #00897b;
}

.game-info {
  margin-top: 20px;
  font-size: 20px;
  color: #757575;
  text-align: center;
}

.toggle {
  height: 40px;
  width: 60px;
  margin: 15px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  border: 2px solid #00897b;
  cursor: pointer;
  border-radius: 10px;;
}

.toggle:hover {
  background: #e0f2f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}